.DS_Store
.dart_tool/
.packages
.pub/
.flutter-plugins
.idea
.vscode
.gradle/
local.properties

build/
pubspec.lock
keystore.jks
android/key.properties
android/app/google-services.json
secrets.tar
android/fastlane/report.xml
**/*.g.dart
.packages.generated
flutter_*.log
flutter_*.png
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/GeneratedPluginRegistrant.h
.env
.flutter-plugins-dependencies
lib/generated/intl/messages_*.dart
