.DS_Store
.dart_tool/
.packages
.pub/
.flutter-plugins
.idea
.vscode

build/
flutter_crashlytics/
pubspec.lock
assets/svg/
lib/utils/keys.dart
lib/resources/notifications.dart
android/key.properties
android/app/google-services.json
assets/voidTrader.json
assets/ghoulpurge.json
assets/persistentEnemies.json
assets/events.json
assets/worldstate.json
assets/globalUpgrades.json
