.DS_Store
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.idea
.vscode
pubspec.lock
assets/svg/
lib/utils/keys.dart
lib/resources/notifications.dart
android/key.properties
android/app/google-services.json
assets/voidTrader.json
assets/worldstate.json
