os: linux

language: android

licenses:
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+

android:
  components:
  - tools
  - platform-tools
  - build-tools-28.0.3
  - android-28

jdk: oraclejdk8

sudo: false

addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libstdc++6
    - fonts-droid

install:
- git clone https://github.com/flutter/flutter.git -b beta --depth 1
- export PATH=./flutter/bin:$PATH
- flutter doctor

script:
- flutter packages get
- flutter analyze --no-pub --no-current-package lib/ test/
- flutter test --no-pub test/
- flutter build apk --debug

cache:
  directories:
  - "$HOME/.pub-cache"
