name: navis
version: 2.33.2+468
description: Cephalon Navis is an Android app inspired by Warframe Hub.
publish_to: none

environment:
  sdk: ^3.10.0
  flutter: ^3.38.0

workspace:
  - packages/cache
  - packages/codex
  - packages/fish_repository
  - packages/http_client
  - packages/navis_ui
  - packages/notification_repository
  - packages/warframe_repository
  - packages/warframestat_repository

dependencies:
  animations: ^2.0.11
  black_hole_flutter: ^1.2.0
  bloc: ^9.2.0
  cache:
    path: packages/cache
  cached_network_image: ^3.3.1
  codex:
    path: packages/codex
  collection: ^1.19.0
  drift_flutter: ^0.2.7
  dynamic_system_colors: ^1.8.0
  equatable: ^2.0.8
  firebase_core: ^4.2.1
  fish_repository:
    path: packages/fish_repository
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.0
  flutter_localizations:
    sdk: flutter
  flutter_settings_ui: ^3.0.1
  flutter_svg: ^2.2.2
  go_router: ^17.0.0
  hive_ce: ^2.17.0
  hive_ce_flutter: ^2.3.4
  http: ^1.6.0
  http_client:
    path: packages/http_client
  hydrated_bloc: ^10.1.1
  internet_connection_checker_plus: ^2.9.1+2
  intl: ^0.20.2
  isar_community: ^3.3.0
  isar_community_flutter_libs: ^3.3.0
  logging: ^1.3.0
  matomo_tracker: ^6.1.0
  mobile_scanner: ^7.1.2
  navis_ui:
    path: packages/navis_ui
  notification_repository:
    path: packages/notification_repository
  package_info_plus: ^9.0.0
  path_provider: ^2.1.5
  profile_models:
    git:
      url: https://github.com/SlayerOrnstein/wfcd_dart.git
      path: packages/profile_models
      ref: profile_models-v0.1.2+4
  replay_bloc: ^0.3.0
  responsive_builder: ^0.7.0
  rxdart: ^0.28.0
  sentry_flutter: ^9.9.2
  sentry_logging: ^9.9.2
  shared_preferences: ^2.5.4
  simple_icons: 10.1.3 # Do not update
  visibility_detector: ^0.4.0+2
  warframe_icons:
    git: https://github.com/SlayerOrnstein/warframe_icons.git
  warframe_repository:
    path: packages/warframe_repository
  warframe_worldstate_data:
    git:
      url: https://github.com/SlayerOrnstein/wfcd_dart.git
      path: packages/warframe_worldstate_data
      ref: warframe_worldstate_data-v0.1.3+2
  warframestat_client: ^5.3.5
  warframestat_repository:
    path: packages/warframestat_repository
  worldstate_models:
    git:
      url: https://github.com/SlayerOrnstein/wfcd_dart.git
      path: packages/worldstate_models
      ref: worldstate_models-v0.1.5+4

dev_dependencies:
  bloc_test: ^10.0.0
  build_runner: ^2.7.1
  commitlint_cli: ^0.8.1
  flutter_gen_runner: ^5.12.0
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.6
  flutter_test:
    sdk: flutter
  go_router_builder: ^4.1.1
  husky: ^0.1.7
  mocktail: ^1.0.4
  path: ^1.8.3
  sentry_dart_plugin: ^3.2.0
  test: ^1.26.3
  very_good_analysis: ^10.0.0

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/baro_banner.webp
    - assets/varzia_banner.webp

sentry:
  upload_debug_symbols: true
  upload_sources: true
  wait_for_processing: true
  dart_symbol_map_path: build/app/outputs/obfuscation.map.json

flutter_launcher_icons:
  image_path: "assets/splash.png"
  android: true
  ios: true
  remove_alpha_ios: true
  min_sdk_android: 24
  adaptive_icon_foreground: assets/splash.png
  adaptive_icon_foreground_inset: 5
  adaptive_icon_background: "#FFFFFF"

flutter_native_splash:
  image: assets/splash.png
  color: "#FFFFFF"
  color_dark: "#121212"
  android_12:
    image: assets/splash.png
