<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806141072319-8ndqkfb3pqq7ler31h9n86o2u35g29kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806141072319-8ndqkfb3pqq7ler31h9n86o2u35g29kf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806141072319-h7n9d5lu0hino2ejtbmm3aieph30jkoh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhYkNxGAoE0RHoinr10ChVfoOf-r_7-So</string>
	<key>GCM_SENDER_ID</key>
	<string>806141072319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cephalon.navis</string>
	<key>PROJECT_ID</key>
	<string>navis-209719</string>
	<key>STORAGE_BUCKET</key>
	<string>navis-209719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806141072319:ios:40aaa8f0ee5a590c78870a</string>
	<key>DATABASE_URL</key>
	<string>https://navis-209719.firebaseio.com</string>
</dict>
</plist>