name: Release
on:
  push:
    branches:
      - master
      - beta
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install Dart SDK
        uses: dart-lang/setup-dart@v1.3

      - name: Install required Dart packages
        run: dart pub global activate cider

      - name: Create executable
        run: chmod +x .github/workflows/scripts/update_pubspec.sh

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v3.1.1
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_COMITTER_EMAIL: ${{ secrets.GIT_COMITTER_EMAIL }}
          GIT_COMITTER_NAME: ${{ secrets.GIT_COMITTER_NAME }}
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
